
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Luckiest+Guy&family=Maven+Pro:wght@400;500;700&family=Sansita+Swashed:wght@900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', 'Luckiest Guy', 'Sansita Swashed', cursive;
    font-family: 'Maven Pro', sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #21094E;
    color: #fff;
    object-fit: contain;
    height: 10vw;
    max-height: 80px;
    width: 100%;
    /* box-shadow: 0 0 4px black; */
}

.logo__wrapper {
    position: absolute;
    left: 0;
    display: flex;
    height: 190%;
}

.logo {
    object-fit: cover;
}

.title {
    font: min(10vw, 72px) 'Luckiest Guy';
    width: 100%;
    text-align: center;    
}

/* Landing */

.landing{
    display: flex;
    justify-content: center;
    height: 100vh;
    background: #eee;
}

::placeholder {
    color:#511281;
}

.landing input {
    width: 80%;
    margin-top: calc(20vh);
    text-align: center;
    font-size: min(4vw, 32px);
    background-color: #fff;
    height: 5vw;
    min-height: 32px;
    max-width: 800px;
    max-height: 40px;
    border-radius: 32px;
    border: 0 solid #511281;
    /* box-shadow: 0 0 4px black; */
}