.email-list {
    flex: 1;
    overflow: scroll;
}

.email-list__settings {
    display: flex;
    justify-content: space-between;
    position: sticky;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 99;
    padding-right: 10px;
}

.email-list__sections {
    position: sticky;
    top: 0;
    display: flex;
    background-color: white;
    border-bottom: 1px solid whitesmoke;
    background: white;
    z-index: 99;
}